<p-panel header="Pipes Numericos" class="p-1">
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid">

  <div class="col-12 sm:col-4">
    <p-card header="Ventas netas" subheader="del presente año">
      {{ number + 543279 | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-12 sm:col-4">
    <p-card header="Ventas brutas" subheader="del presente año">
      {{ number | currency:'EUR':'': '1.4-4' }}
    </p-card>
  </div>

    <div class="col-12 sm:col-4">
    <p-card header="Ganancia porcentual" subheader="del presente año">
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>

</div>
